# .gitignore

/network-config/unencrypted
/attic
*.nixops-*
.gems
# Local Bundler tools and RuboCop cache created by the confctl development shell
/.bin/
/.bundle/
/.rubocop_cache/
.mkdocs.*
.confctl
.*.swp
configs/node/kernels.json
