name: Daily update
on:
  schedule:
    - cron: '30 4 * * *'

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup git
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Restore confctl cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/confctl
          key: confctl-cache-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            confctl-cache-${{ runner.os }}

      - name: Update inputs
        run: |
          sudo mkdir /nix/var/nix/gcroots/per-user/$USER
          sudo chown $USER /nix/var/nix/gcroots/per-user/$USER

          nix develop -c confctl inputs channel update --commit --no-changelog \
                              '{nixos-stable,production,staging}' nixpkgs
          nix develop -c confctl inputs channel update --commit --no-changelog nixos-unstable
          nix develop -c confctl inputs channel update --commit '{staging,os-staging}' vpsadminos

      - name: Update package dependencies
        run: |
          set -e

          for pkg in geminabox ssh-exporter syslog-exporter ; do
            pushd "packages/$pkg"
            
            rm -f gemset.nix Gemfile.lock
            nix-shell -p bundix --run "bundix -l"
            nix-shell -p nixfmt-rfc-style --run "nixfmt gemset.nix"

            if ! grep -q 'source =' gemset.nix ; then
              echo "Invalid $pkg/gemset.nix: missing sources, skipping"
              popd
              continue
            fi
            
            git add gemset.nix Gemfile.lock

            if git diff --cached --quiet ; then
              popd
              continue
            fi

            git commit -m "$pkg: update dependencies"
            
            popd
          done

      - name: Push updates
        run: |
          git push origin master

      - name: Save confctl cache
        uses: actions/cache/save@v4
        with:
          path: ~/.cache/confctl
          key: confctl-cache-${{ runner.os }}-${{ github.run_id }}
