name: Weekly update
on:
  schedule:
    - cron: '30 3 1 * *'

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Set up Ruby + Bundler cache
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true

      - name: Setup git
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Restore confctl cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/confctl
          key: confctl-cache-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            confctl-cache-${{ runner.os }}

      - name: Update inputs
        run: |
          sudo mkdir /nix/var/nix/gcroots/per-user/$USER
          sudo chown $USER /nix/var/nix/gcroots/per-user/$USER

          bundle exec confctl inputs update --commit --no-changelog nixpkgsCore

      - name: Push updates
        run: |
          git push origin master

      - name: Save confctl cache
        uses: actions/cache/save@v4
        with:
          path: ~/.cache/confctl
          key: confctl-cache-${{ runner.os }}-${{ github.run_id }}
